@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  max-width: 1440px;
}
.main-menu li a,
.ft-menu li a {
  font-size: 18px;
  display: inline-block;
  transition: 0.3s;
  color: #000;
}
.main-menu li a:hover,
.main-menu li.active > a {
  color: #007076;
}
.ft-menu li a:hover {
  text-decoration: underline;
}

.main-menu li ul.submenu {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  top: 110%;
}
.main-menu li:hover ul.submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.btn-outline {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 8px 20px;
  display: inline-block;
  transition: 0.3s;
}
.btn-outline:hover {
  background-color: #007076;
  border-color: #007076;
  color: #fff !important;
}
.main-menu li:not(:first-child),
.ft-menu li:not(:first-child) {
  margin-left: 60px;
}
.ft-menu li a {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}
.ft-widget h5 {
  color: #393737;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.ft-widget {
  text-align: center;
  margin: 20px;
}
.splide__pagination__page {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 15px;
  height: 15px;
  margin: 0 5px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .splide__pagination__page {
    margin: 15px 8px;
  }
}
.splide__pagination__page.is-active {
  background: #1d4f32;
  transform: scale(1);
  z-index: 1;
}

.dream-g-wrap {
  padding-top: 105px;
}
.circuit-trans {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: calc(100% - 180px);
}
.dream-title {
  box-shadow: 12px 12px 17px 0px rgba(0, 0, 0, 0.4);
}
.dream-title h2 {
  line-height: 1.2;
}
.hero-absolute-content p {
  line-height: 1.2;
}
/* preloader css start */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #0f2c59;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.preloader {
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}
.preloader.hide {
  opacity: 0;
  visibility: hidden;
}
/* preloader css end */
.overlay {
  opacity: 0;
  visibility: hidden;
}
.cmn-content p {
  font-size: 18px;
}
.para p:not(:last-child) {
  margin-bottom: 24px;
}
.cmn-content .para:not(:last-child) {
  margin-bottom: 24px;
}
.experience-area .cmn-content,
.experience-area .section-title {
  max-width: 700px;
}
.dr-item {
  filter: drop-shadow(12px 12px 17px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  padding: 20px;
  min-width: 180px;
}

.dr-icon img {
  max-height: 45px;
  max-width: 50px;
}
.dr-icon {
  margin-bottom: 12px;
}
.dr-item h5 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
}
.dream-outer {
  border-radius: 47px;
  border: 1px solid #007076;
  background: #fbfbfb;
  box-shadow: -2px 7px 26px 1px rgba(0, 0, 0, 0.25);
  padding: 85px;
}
.location-area .cmn-content {
  max-width: 550px;
}
.location-wrapper {
  display: grid;
  grid-template-columns: auto 330px;
  grid-gap: 30px;
  align-items: flex-end;
}
.location-map {
  margin-top: -170px;
  margin-left: auto;
  max-width: 700px;
}
.professional-area {
  padding-bottom: 70px;
  padding-top: 10px;
}

.invest-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
.invest-item {
  border-radius: 9px;
  border: 1px solid #000;
  box-shadow: 7px 12px 21px 3px rgba(0, 0, 0, 0.44);
  padding: 30px;
}
.invest-wrapper {
  padding: 75px 0;
}

.vision-wrapper h3 {
  font-size: 34px;
  margin-bottom: 24px;
  line-height: 1.3;
}
.tb-content {
  padding: 60px;
}
.sec-rw {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 60px;
  align-items: center;
  padding: 55px 0;
}

.sec-rw.reverse {
  grid-template-columns: 2fr 1fr;
}
.tb-content-outer-box {
  border: 2px solid #007076;
  background: #fff;
}

.tablist li a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: Raleway;
  display: block;
  position: relative;
  text-align: center;
  padding: 20px;
  transition: 0.3s;
  outline: none !important;
}
.tablist li a:hover {
  background-color: #1d4f32;
}
.tablist li a:hover:after {
  border-color: #1d4f32 transparent transparent;
}
.tablist li a::after {
  content: "";
  border-width: 20px;
  border-style: solid;
  border-color: #007076 transparent transparent;
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.tablist li a[aria-selected="true"]:after {
  opacity: 1;
  visibility: visible;
  bottom: -38px;
}
.sec-img img {
  box-shadow: 20px 20px 11px 0px rgba(0, 0, 0, 0.2);
}
.invest-item img {
  max-height: 80px;
  margin-bottom: 10px;
}
.invest-item h4 {
  font-size: 24px;
  margin-bottom: 14px;
}
.invest-item p {
  color: #363434;
}
.tb-content .sec-rw:first-child {
  padding-top: 0;
}
.tb-content .sec-rw:last-child {
  padding-bottom: 0;
}
.tab-area {
  padding-bottom: 90px;
}
.lk-fea-single {
  box-shadow: 15px 15px 13px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: 64px auto;
  align-items: center;
  grid-gap: 15px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.location-fea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 60px;
  grid-column-gap: 150px;
  margin-top: 115px;
  margin-bottom: 75px;
}

.lk-fea-single p {
  color: #fff;
  font-weight: 700;
}
.pin {
  left: 50%;
  transform: translateX(-50%);
  height: 210px;
  margin-top: -108px;
}
.lk-fea-single.middle {
  grid-column: 1/3;
}
.fea-icon {
  border-right: 1px solid #fff;
  padding-right: 15px;
}
.location-wrapper.plc-2 .location-map {
  margin-top: 0;
}

.phase-blk {
  border: 1px solid #007076;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 24px;
}
.phase-blk .blk-single:not(:last-child) {
  border-right: 1px solid #007076;
}
.blk-single {
  padding: 15px;
  text-align: center;
}
.blk-single h4 {
  color: #007076;
  font-weight: 700;
  font-size: 34px;
}
.blk-single p strong {
  font-size: 30px;
  line-height: 1;
}
.blk-single p {
  font-weight: 500;
}
.image-shadow {
  filter: drop-shadow(20px 20px 15px rgba(0, 0, 0, 0.46));
}
.phase-wrapper {
  margin-bottom: 80px;
}

.amenites-outer-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 24px;
  margin-bottom: 70px;
  margin-top: 30px;
}
.am-lr-g {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
.am-item p {
  font-family: raleway;
  font-weight: 700;
  font-size: 20px;
}
.am-icon {
  margin-bottom: 15px;
}
.am-icon img {
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
}
.am-item {
  text-align: center;
}
.am-lf .full-img:not(:last-child) {
  margin-bottom: 20px;
}
.am-lf .image-shadow {
  filter: drop-shadow(10px 10px 11px rgba(0, 0, 0, 0.35));
}
.contact-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
}
.contact-left,
.contact-right {
  border-radius: 15px;
  padding: 36px;
}
.ct-info p img {
  display: inline-block;
  max-width: 18px;
  margin-right: 5px;
}
.ct-info p {
  margin-bottom: 26px;
}
.fm-title {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 30px;
  font-family: Raleway;
}
.two-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.input-inside {
  margin-bottom: 30px;
}
.input-inside input,
.input-inside textarea {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  height: 40px;
  transition: 0.3s;
}
.input-inside input:focus,
.input-inside textarea:focus {
  outline: none;
  border-color: #fcc200;
}
.input-inside input::placeholder,
.input-inside textarea::placeholder {
  color: #fff;
  opacity: 0.34;
}
.btn-outline.style-2 {
  background-color: #fcc200;
  border-color: #fcc200;
  min-width: 260px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  color: #007076;
  font-family: Raleway;
  font-size: 22px;
}
/* Media Query */
@media screen and (max-width: 1300px) {
  .location-area .cmn-content {
    max-width: 430px;
  }
  .location-map {
    max-width: 620px;
  }
}
@media screen and (max-width: 1279px) {
  .tab-area {
    padding-bottom: 70px;
  }
  .main-menu li:not(:first-child),
  .ft-menu li:not(:first-child) {
    margin-left: 50px;
  }
  .location-area .cmn-content {
    max-width: 100%;
  }
  .location-map {
    margin-top: 40px;
    margin-left: auto;
  }
}
@media screen and (max-width: 1023px) {
  .main-menu li ul.submenu {
    background-color: #ddd;
  }
  .menu-wrapper .btn-outline {
    border-color: #007076;
  }
  .contact-g-wrapper {
    grid-template-columns: 1fr;
  }
  .am-item p {
    font-size: 18px;
  }
  .am-lr-g {
    grid-template-columns: 1fr 1fr;
  }
  .phase-wrapper {
    margin-bottom: 60px;
  }
  .phase-blk {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pin {
    display: none;
  }
  .location-fea {
    display: block;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .location-fea .lk-fea-single:not(:last-child) {
    margin-bottom: 24px;
  }
  .vision-wrapper h3 {
    font-size: 28px;
  }
  .invest-wrapper {
    padding-top: 60px;
  }
  .tb-content {
    padding: 45px;
  }
  .sec-rw {
    grid-gap: 45px;
    padding: 45px 0;
  }
  .location-wrapper {
    grid-template-columns: auto 230px;
  }
  .main-menu li a {
    font-size: 16px;
    color: #1d4f32;
    font-weight: 500;
  }
  .main-menu li:not(:first-child) {
    margin-left: 0;
    margin-top: 18px;
  }
  .menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #fff;
    z-index: 90;
    width: 290px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    padding: 20px;
  }

  .menu-wrapper.show,
  .overlay.show {
    opacity: 1;
    visibility: visible;
  }
  .ft-widget {
    margin: 20px 15px;
  }
  .ft-menu li:not(:first-child) {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .lk-2 {
    width: 200px;
  }
  .circuit-trans.absolute {
    display: none;
  }
  .dream-g-wrap {
    padding-top: 0;
  }
  .two-input {
    display: block;
  }
  .amenites-outer-box {
    display: block;
  }
  .am-lr-g {
    margin-top: 30px;
  }
  .am-item p {
    font-size: 16px;
  }
  .am-icon img {
    max-height: 60px;
  }
  .image-shadow {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  }
  .phase-wrapper {
    margin-bottom: 50px;
  }
  .amenites-outer-box {
    margin-bottom: 40px;
  }
  .blk-single h4 {
    font-size: 28px;
  }
  .phase-blk .blk-single:not(:last-child) {
    border-right: 0;
    border-bottom: 1px solid #007076;
  }
  .phase-blk {
    display: block;
  }
  .lk-fea-single p {
    font-size: 14px;
  }
  .lk-fea-single {
    border-radius: 15px;
  }
  .tablist li a[aria-selected="true"]::after {
    bottom: -35px;
  }
  .tablist li a {
    font-size: 18px;
    padding: 18px 15px;
  }
  .tab-area {
    padding-bottom: 60px;
  }
  .tb-content {
    padding: 20px 16px;
  }
  .sec-rw {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 0;
    padding: 24px 0;
  }
  .sec-rw.reverse {
    flex-direction: column;
  }
  .sec-img {
    margin-bottom: 24px;
  }
  .sec-content h4 {
    margin-bottom: 14px;
    font-size: 22px;
  }
  .invest-wrapper {
    padding-top: 50px;
    padding-bottom: 55px;
  }
  .vision-wrapper h3 {
    font-size: 24px;
  }
  .invest-g-wrapper {
    grid-template-columns: 1fr;
  }
  .location-wrapper {
    display: block;
  }
  .farmland-img img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .professional-area {
    padding-bottom: 45px;
    padding-top: 0;
  }
  .location-map {
    margin-bottom: 45px;
  }
  .location-map img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .dr-item {
    padding: 20px 16px;
    min-width: 145px;
    margin-top: 15px;
  }
  .dream-outer {
    border-radius: 20px;
    padding: 16px;
  }
  .cmn-content p {
    font-size: 16px;
  }
  .para p:not(:last-child) {
    margin-bottom: 20px;
  }
  .ft-widget h5 {
    margin-bottom: 5px;
  }
  .ft-widget {
    margin: 24px 0;
  }
  .ft-menu li a {
    font-size: 16px;
  }
  .ft-menu li:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}
@media screen and (max-width: 479px) {
  .tablist li a {
    font-size: 14px;
    padding: 18px 12px;
  }
}
